<div class='col-md-12'>
  <div class='row col-md-12 pr-0 pl-0'>
    <div class="col-md-4 pl-0">
      <h1 class="logo-text">KAD<em>uTube</em></h1>
    </div>
    <div class="col-md-4">
      <img style="float: right;" *ngIf="loading" src='assets/images/loading.gif' />
    </div>
    <div class="col-md-4 pr-0">
      <div class="col-md-10"><h2 style="white-space: nowrap;">YouTube <small>Video Search</small></h2></div>
      <div class="return-menu col-md-2" (click)="returnToMenu()">
        <i class="fa fa-compass"></i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-group input-group-lg kad-search">
      <app-search-box
         (loading)="loading = $event"
         (results)="updateResults($event)"
          ></app-search-box>
    </div>
  </div>

  <div class="row kad-pack">
    <app-search-result
      *ngFor="let result of results"
      [result]="result">
    </app-search-result>
  </div>
</div>


